AddressStandardizationSolution/bin/
AddressStandardizationSolution/obj/
AddressStandardizationSolution/TestResults/
AddressStandardizationSolution/AddressStandardizationSolutionTest/bin/
AddressStandardizationSolution/AddressStandardizationSolutionTest/obj/
